


.header {


	
	background-color: #ffffff;
	border-style: solid;
	border-color: #cccccc;
	border-width: 2px;
	overflow: auto;
	width: 100%;
	

}

#tabs {

	

	



}

tabswrap{

	position: relative;
	word-spacing: 2px;
	margin-right: 32px;
	margin-top: 36px;
	color: #777777;
	float: right;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;


}

#about2{

		margin-right: 24px;
		position: relative;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #777777;
		float: right;
		margin-right: 28px;
		margin-top: 62px;

}
#portfolio{

		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #777777;
		float: right;
		position: relative;
		margin-right: 30px;
		margin-top: 62px;
}
#contact{

		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #777777;
		float: right;
		position: relative;
		margin-right: 32px;
		margin-top: 62px;
}

#name {

    position: relative;
	float: left;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	padding-top: 16px;
	margin-bottom: 0px;
	margin-left: 60px;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
}


.jumbotron{

	width: 960px;
	height: 100%;
	position: absolute;
	background-color: #D3D3D3;
}



#image{

	float:left;
	padding-right: 24px;
	margin-left: 24px;
	height: 260px;
	width: 200px;

}

.main{

    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
	width: 650px;
	padding: 0px;
	background-color: #ffffff;

}

#about {

    position: relative;
    color: #4aaaa5;
 	padding-top: 24px;
 	margin-left: 30px;
	font-size: 32px;
	font-family: 'Georgia', Times, Times New Roman, serif;

}


#p1 {
	
	margin-left: 24px;
	margin-right: 24px;
	padding-bottom: 128px;
	position: relative;
	font-size: 16px;
	color: #777777;
	line-height: 1.5;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	
}

.footer{


	

	text-align: center;
	margin-top: 28px;
	color: white;

	

	

}

.wrapper{

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 72px;
	background-color: #666666;
	border-style: solid;
	border-color: #4aaaa5;
	border-top-width: 12px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;



}

.scrollbar{

	float: right;
	width: 270px;
	height: 140px;
	position: relative;
	margin-top: 20px;
	margin-right: 10px;
	color: #4aaaa5;
	background-color: white;

}


#connect{

	text-align: center;
	margin-top: 
	

}

#facebookicon{

	height: 64px;
	width: 64px;
	margin-left: 16px;
	float: left;

}

#githubicon{

	height: 64px;
	width: 64px;
	margin-left: 26px;


}

#linkedinicon{

	height: 64px;
	width: 64px;
	margin-right: 8px;
	float: right;
	


}
